/* General*/
.row-horizon {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin: 0 2px;
}
.row-vertical {
    overflow-x: hidden;
    overflow-y: scroll;
    white-space: nowrap;
    height: 460px;
    margin: 0 2px;
}
.contenido{
    padding: 15px;
    background: #edf1f5; 
    min-height: calc(100vh - 167px);
}
.cardpequeño{
    position: relative;
    width: 100%; 
    padding-right: 5px; 
    padding-left: 5px;
}
.cardgrande{
    position: relative;
    width: 100%; 
    padding-right: 5px; 
    padding-left: 5px;
}
.clasecard{
    margin-bottom: 30px; 
    border-radius: none;  
    border: none;  
    position: relative;
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
}
.stiloh4{
    margin-bottom: 0px; 
    position: relative;
    font-weight: 500; 
    font-size: 16px;
}
.colorcarhead{
    background-color:rgb(159, 70, 89)!important;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
/*Fin General  
========================
Inicio Post delivery*/

.pn {
    height: 222px;
    width: 154px;
    cursor: pointer;
    box-shadow: 0 2px 1px rgb(0 0 0 / 20%);
}

.darkblue-panel {
    text-align: center;
    background: #2f323e;
    border-radius: 5px;
    margin-left: 2px;
    margin-top: 2px;
    margin-right: 0px;
}
.darkblue-panel h5 {
    font-weight: 200;
    margin-top: 5px;
    color: white;
}


.form-control {
    padding-left: 28px!important;
}
.form-control-feedback2 {
    position: absolute;
    left: 6px;
    padding: 10px;
    font-size: 16px;
    pointer-events: none;
    color: #777777;
}

/* fin Post delivery
========================
inicio Post ventas*/

.paint_select_span {
    background-color: #6B6B6B !important;
    color: #E2E2E2 !important;
    border-bottom: 3px solid #f65e48 !important;
}

.categories {
    cursor: pointer;
    text-align: center;
    margin: 5px 1px;
    padding: 10px 20px;
    background-color: #E2E2E2;
    border-radius: 3px;
    color: #6B6B6B;
    text-transform: uppercase;
    display: inline-block;
    font-weight: 500;
    padding-bottom: 7px;
    border-bottom: 3px solid #6EC89B;
}

/* fin Post ventas*/

/* ccs para productos y mesas */
.a_mesas{
    float: left; 
    margin-right: 4px; 
    display: block;
}
.style_mesas{
    width: 126px;
    height: 126px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background:#5CD878;
}
.imagen_mesa{
    display:inline;
    margin:22px;
    float:left;
    width:88px;
    height:70px;
}